// PARTNERS-------------------------
.partners {
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  overflow: scroll;

  img {
    margin-left: 20px;
  }
}
